body  {
   background-color: aquamarine;
   /*background-image: url(../Image/0_0_384_N\(11\).webp);
    */

}

#style {
    margin-left: 93%;
    
} 

/*header {
    background-image: url(../Image/hook/see\ the\ dark\ side.webp);
    max-width: 300px;
    margin: 20%;
}*/

#p1 {
    color:green;
    margin: 19px
}

#p2 {
    color:green;
    margin: 19px;
}

#color {
    margin: 2%;
}

#web {
    margin-top: 2%;
}




